{{define "title"}}
    ThanksApp - Dashboard
{{end}}

{{define "breadcrumb"}}
    Dashboard
{{end}}


{{define "body"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="jumbotron text-center">
                        <h1 class="display-4">Welcome to Thanks App!</h1>
                        <p class="lead">
                            This is an example Blockchain app using <a href="http://hyperledger-fabric.readthedocs.io/" target="blank">Hyperledger Fabric</a>
                        </p>
                        <hr class="my-4">
                        <h4>Demonstrations:</h4>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="/transfer/" role="button">Points Transfer</a>
                            <a class="btn btn-primary btn-lg" href="/add/" role="button">Add User</a>
                            <a class="btn btn-primary btn-lg" href="/transaction/all/" role="button">All Users</a>
                            <a class="btn btn-primary btn-lg" href="/transaction/select/" role="button">Per User Transaction History</a>
                        </p>
                        <hr class="my-4">
                        <h4 class="text-danger">Project Details</h4>
                        <h6>
                            Repository
                        </h6>
                        <a href="https://gitlab.com/mugima/hyperledger-fabric-test" target="blank" class="btn btn-brand btn-lg btn-github" style="margin-bottom: 4px">
                            <i class="fa fa-github"></i>
                            <span>Gitlab</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "customScripts"}}
{{end}}